<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * The content below * * * * * * * * * * * -->
<!-- * * * * * * * * * * is only a placeholder * * * * * * * * * * -->
<!-- * * * * * * * * * * and can be replaced. * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * Delete the template below * * * * * * * * * * -->
<!-- * * * * * * * to get started with your project! * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->


<!-- Toolbar -->
<div class="toolbar" role="banner">
  <div class = "sd-logo"> 
    <img  alt="SD Logo" src="assets/images/sd-logo.png">
    <span>Sunita's Portfolio</span>
  </div>
  <div class ="nav-links">
    <a aria-label="Home" title="home" routerLink= "/home"> HOME </a>
    <a aria-label="project" target="_blank" routerLink= "/project" title="project"> PROJECT </a>
    <a aria-label="resume" target="_blank" routerLink= "/resume" title="resume"> RESUME </a>
    <a aria-label="about" target="_blank" routerLink= "/about" title="about"> ABOUT </a>
    <a aria-label="contact" id= "contact-margin" target="_blank" routerLink= "/contact" title="contact">CONTACT</a>
  </div>
</div>

<div class="content" role="main"></div>

<router-outlet></router-outlet>
